*{
    margin: 0%;
    padding: 0%;
}

.navigation{
    text-align: center;
}


nav{
    background-color: rgb(187, 24, 24);
    box-shadow: 10px;
    height: 100px;
    padding: 3rem;
    
}
nav>a{
    font: 600 1.7rem cursive;
    color: rgb(207, 201, 195);
    text-decoration: none;
    margin: 0 1rem;
    text-align: center;
}